{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos_hotel.css' %}"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitación Deluxe</title>
    
</head>

<header>
    <h1> Bienvenido al  HotelAPI</h1>
</header>

<body>

<div class="container mt-4">
    <a href="/" class="btn">Volver</a>
    <div class="room-card-reservaHab">
        <h1 class="text-center">Habitación Individual</h1>
        <img src="{% static 'img/habitacion2.jpg' %}" alt="Habitación Deluxe" class="d-block mx-auto img-fluid w-50 my-3">
        <p class="text-center">Precio por persona: <strong>$85,000</strong></p>

        <p class="text-center">
        <ul class="text-estandar">
            <li>Una habitación cómoda y funcional diseñada para satisfacer las necesidades básicas de los huéspedes. Cuenta con una cama sencilla o doble, baño privado, escritorio y televisión. Es ideal para viajeros que buscan una estancia económica y práctica.</li>
        </ul>
        </p>
    </div>

    <div class="text-center mt-4">
        <a href="/reserva" class="btn btn-primary">Reservar Ahora</a>
    </div>
</div>
</body>
</html>
{% endblock %}